body {
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;

    margin: 0px;
    background-color: #ebf2f2;
}

/* --------- Grid containers --------- */

#landing-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 7vh 70vh 13vh;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "sub-main";
}

#browse-grid {
    display: grid;
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 10vh 7vh 83vh;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside";
}

#leadership-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 7vh 83vh;
    grid-template-areas:
        "header"
        "nav"
        "portrait";
}

/* --------- Grid areas --------- */

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main.landing {
    grid-area: main;
}

main.browse {
    grid-area: main;
}

#sub-main {
    grid-area: sub-main;
    background-color: blue;
}

aside {
    grid-area: aside;
    background-color: cyan;
}

#portrait {
    grid-area: portrait;
}


/* --------- Header stuff --------- */

header {
    background-color: #282e2d;
    border-left: #4d5b53 solid medium;
    border-right: #4d5b53 solid medium;

    display: flex;
    align-items: center;
}

input#searchbar {
    margin-left: auto;
    margin-right: 3%;

    width: 18vw;
    height: 40%;
    box-sizing: border-box;

    border: 3px solid #1a7841;
    border-radius: 8px;

    background-image: url("../img/search.svg");
    background-size: 7%;
    background-position: 2% 50%;
    background-repeat: no-repeat;

    padding: 0px 10% 0px 2%;

    font-size: 100%;

    transition: all 0.2s ease;
}

input#searchbar:focus {
    border-color: #27ae60;
    outline: none;
}

img.logo {
    height: 90%;
    margin-left: 2%;
}

h1 {
    margin-left: 2%;

    font-size: 40px;
    color: #27ae60;
    font-weight: 300;
    letter-spacing: 0.5vw;
}


/* --------- Nav stuff --------- */

nav {
    background-color: #282e2d;

    border: #4d5b53 solid medium;
    border-top: #6d6d6d dotted medium;
    border-radius: 0px 0px 15px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav>* {
    margin-right: 3%;
    margin-left: 3%;
}

nav a {
    color: #287b69;
    font-size: 150%;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 0.2vw;

    transition: all 0.4s ease;
}

nav a:hover {
    color: #27ae60;
    font-weight: 400;
    font-size: 160%;
}

nav a#selected {
    color: #27ae60;
    font-weight: 400;
    font-size: 160%;
}

/* --------- Landing stuff --------- */


/* --------- Browse stuff --------- */
body.browse {
    background-color: #161919;
}

main.browse {
    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
}

aside {
    background-color: #282e2d;

    border: #4d5b53 solid medium;
    border-right: none;
    margin: 5% 0px 5% 0px;
    border-radius: 15px 0px 0px 15px;
}

div.collumn {
    width: 33%;
}

figure.browse {
    position: relative;
    margin: 5%;
    border: #4d5b53 solid medium;
    border-radius: 10px;

    transition: transform 0.2s ease-in-out;
}
figure.browse:hover {
    transform: scale(1.05);
}

figure.browse img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

figure.browse p {
    font-size: small;
    bottom: 0px;
    left: 1%;
}

figure.browse figcaption {
    top: 1%;
    left: 1%;
}

figure.browse > *:not(img) {
    color: white;
    opacity: 0%;
    position: absolute;

    transition: opacity 0.75s ease-in-out;
}
figure.browse:hover > *:not(img) {
    opacity: 100%;
}


/* --------- Leadership stuff --------- */

body.leadership {
    background: url('../img/leadership-background.jpg') no-repeat;
    background-size: 100%;
}

#portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portrait h2 {
    margin-bottom: auto;
    margin-top: 2%;

    font-weight: 100;
    letter-spacing: 0.4vw;
}

#figure-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

figure.leadership {
    width: 15%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.75%;

    border-radius: 20px;

    transition: all 0.3s ease-in-out;
}

figure.leadership:hover {
    width: 17%;
    background-color: #ffce64;
    border: solid #b79a5a;
}

figure.leadership img {
    width: 100%;

    border: solid #888888;
    border-radius: 20px;
}

figure.leadership img:hover {
    border: solid #b79a5a;
}

figcaption.leadership {
    font-weight: 250;
    font-size: 1.25vw;
    margin-bottom: 0.5vh;
}

figcaption.leadership~* {
    line-height: 0px;
    font-size: 0.8vw;
    margin-top: 0px;
    font-weight: 350;
}