body {
    margin: 0px;
}

#landing-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 5vh 70vh 15vh;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "sub-main";
}

#browse-grid {
    display: grid;
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 15vh 5vh 95vh;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main aside";
}

header {
    grid-area: header;
    background-color: #ebf2f2;
    border-left: #939393 solid thick;
    border-right: #939393 solid thick;

    display: flex;
    align-items: center;
}

nav {
    grid-area: nav;
    background-color: #ebf2f2;

    border: #939393 solid thick;
    border-top: #939393 dashed thin;
    border-radius: 0px 0px 15px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

main.landing {
    grid-area: main;
    background-color: orange;
}

main.browse {
    grid-area: main;
    background-color: orange;
}


#sub-main {
    grid-area: sub-main;
    background-color: blue;
}

aside {
    grid-area: aside;
    background-color: cyan;
}

main {
    background-color: orange;
}


/* Header stuff */

img.logo {
    height: 80%;
    margin-left: 2%;
}

h1 {
    margin-left: 2%;
    font-size: 40px;
    color: black;
}


/* Nav stuff */

nav > * {
    padding-right: 5%;
}

nav a {
    color: #27ae60;
    font-size: large;
    text-decoration: none;
    font-weight: 600;

}

nav a:hover {
    color: #1e8649;
    font-weight: 900;
    font-size: larger;
}

nav a#selected {
    color: #1e8649;
    font-weight: 900;
    font-size: larger;
}