body {
    margin: 0;
}

#grid-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 5vh 70vh 15vh;

    grid-template-areas: 
    "header"
    "nav"
    "main"
    "sub-main";
}

header {
    background-color: hotpink;
    grid-area: "header";
}

nav {
    background-color: blue;
    grid-area: "nav";
}

main {
    background-color: green;
    grid-area: "main";
}

.sub-main {
    background-color: orange;
    grid-area: "sub-main";
}