body {
    margin: 0px;
}

#landing-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh 5vh 65vh 15vh;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "sub-main";
}

#browse-grid {
    display: grid;
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 15vh 5vh 95vh;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main aside";
}

header {
    grid-area: header;
    background-color: lightgreen;
}
nav {
    grid-area: nav;
    background-color: purple;
}
main {
    grid-area: main;
    background-color: orange;
}

#sub-main {
    grid-area: sub-main;
    background-color: blue;
}

aside {
    grid-area: aside;
    background-color: cyan;
}

main {
    background-color: orange;
}