body {
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;

    margin: 0px;
    background-color: #ebf2f2;
}

/* --------- Grid containers --------- */

#landing-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 7vh 70vh 13vh;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "sub-main";
}

#browse-grid {
    display: grid;
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 10vh 7vh 83vh;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside";
}

#leadership-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 7vh 83vh;
    grid-template-areas:
        "header"
        "nav"
        "portrait";
}

/* --------- Grid areas --------- */

header {
    grid-area: header;
    background-color: #bbc0c0;
    border-left: #939393 solid thick;
    border-right: #939393 solid thick;

    display: flex;
    align-items: center;
}

nav {
    grid-area: nav;
    background-color: #bbc0c0;

    border: #939393 solid thick;
    border-top: #6d6d6d dotted medium;
    border-radius: 0px 0px 15px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

main.landing {
    grid-area: main;
    background-color: orange;
}

main.browse {
    grid-area: main;
    background-color: orange;
}


#sub-main {
    grid-area: sub-main;
    background-color: blue;
}

aside {
    grid-area: aside;
    background-color: cyan;
}

#portrait {
    grid-area: portrait;
    background-color: #ebf2f2;
}


/* --------- Header stuff --------- */

input#searchbar {
    margin-left: auto;
    margin-right: 3%;

    width: 18vw;
    height: 40%;
    box-sizing: border-box;

    border: 3px solid #1a7841;
    border-radius: 8px;

    background-image: url("../img/search.svg");
    background-size: 7%;
    background-position: 2% 50%;
    background-repeat: no-repeat;

    padding: 0px 10% 0px 2%;

    font-size: 120%;

    transition: all 0.2s ease;
}

input#searchbar:focus {
    border-color: #27ae60;
    outline: none;
}

/* Logo and title */

img.logo {
    height: 90%;
    margin-left: 2%;
}

h1 {
    margin-left: 2%;

    font-size: 40px;
    color: black;
}


/* --------- Nav stuff --------- */

nav>* {
    margin-right: 3%;
    margin-left: 3%;
}

nav a {
    color: #27ae60;
    font-size: 150%;
    text-decoration: none;
    font-weight: 600;

    transition: all 0.2s ease;
}

nav a:hover {
    color: #1e8649;
    font-weight: 900;
    font-size: 160%;
}

nav a#selected {
    color: #1e8649;
    font-weight: 900;
    font-size: 160%;
}

/* --------- Leadership stuff --------- */

#portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portrait h2 {
    margin-bottom: auto;
    margin-top: 2%;
}

#figure-div {
    display: flex;
    justify-content: center;
    align-items: center;
}


figure {
    background-color: #f7b62a;
    width: 15%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.75%;

    border: solid #be8d22;
    border-radius: 20px;

    transition: all 0.5s ease;
}

figure:hover {
    width: 17%;
    background-color: #ffce64;
    border: solid #b79a5a;
}

figure img {
    width: 100%;

    border: solid #be8d22;
    border-radius: 20px;
}

figure img:hover {
    border: solid #b79a5a;
}

figcaption {
    font-weight: 600;
    font-size: 1.25vw;
}

figcaption~* {
    line-height: 0px;
    font-size: 0.8vw;
}