body {
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-optical-sizing: auto;

    margin: 0px;
    background-color: white;
}

/* --------- Grid containers --------- */
/*#region*/
#landing-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 7vh 90vh 45vh;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "sub-main";
}

#browse-grid {
    display: grid;
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 10vh 7vh 83vh;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside";
}

#leadership-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 7vh 87vh;
    grid-template-areas:
        "header"
        "nav"
        "portrait";
}
/*#endregion*/

/* --------- Grid areas --------- */
/*#region*/
header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main.landing {
    grid-area: main;
}

main.browse {
    grid-area: main;
}

#sub-main {
    grid-area: sub-main;
}

aside {
    grid-area: aside;
}

#portrait {
    grid-area: portrait;
}
/*#endregion*/

/* --------- Header stuff --------- */
/*#region*/
header {
    background-color: white;

    display: flex;
    align-items: center;
}

input#searchbar {
    margin-left: auto;
    margin-right: 3%;

    width: 18vw;
    height: 40%;
    box-sizing: border-box;

    border: 3px solid #1a7841;
    border-radius: 8px;

    background-image: url("../img/search.svg");
    background-size: 7%;
    background-position: 2% 50%;
    background-repeat: no-repeat;

    padding: 0px 10% 0px 2%;

    font-size: 0.9rem;

    transition: all 0.2s ease;
}

input#searchbar:focus {
    border-color: #27ae60;
    outline: none;
}

img.logo {
    height: 90%;
    margin-left: 2%;
}

h1 {
    margin-left: 2%;

    font-size: 3rem;
    color: #27ae60;
    font-weight: 300;
    letter-spacing: 0.5vw;
}
/*#endregion*/

/* --------- Nav stuff --------- */
/*#region*/
nav {
    background-color: white;

    border-top: #bababa dashed medium;
    border-bottom: #bababa solid medium;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav>* {
    margin-right: 3%;
    margin-left: 3%;
}

nav a {
    color: #287b69;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 0.2vw;

    transition: all 0.4s ease;
}

nav a:hover {
    color: #27ae60;
    font-weight: 400;
    font-size: 2rem;
}

nav a#selected {
    color: #27ae60;
    font-weight: 400;
    font-size: 2rem;
}
/*#endregion*/

/* --------- Landing stuff --------- */
/*#region*/
main.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.landing {
    color: whitesmoke;
    font-size: 1.4rem;
}

div.carousel {
    overflow: hidden;
    width: 100vw;
    height: 100%;
}

.gallery {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: inherit;
}

figure.landing {
    display: flex;
    justify-content: center;

    position: relative;

    width: fit-content;

    transition: transform 0.2s ease-in-out;

    scroll-snap-align: center;
    margin-left: 50vh;
}

figure.landing img {
    display: block;
    max-height: 100%;
    max-width: max-content;

    border-radius: 15px;
    border: rgb(92, 92, 92) solid medium;
}

figure.landing:last-child {
    margin-right: 50vh;
}

figure.landing figcaption {
    position: absolute;
    top: 0px;

    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);

    font-size: 1.42rem;
    font-weight: 500;

    padding: 1.5%;
    padding-bottom: 1%;
    padding-top: 0.7%;

    border-radius: 0px 0px 15px 15px;
    border-top: rgb(92, 92, 92) solid medium;
}

figure.landing p {
    position: absolute;
    bottom: 0px;

    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);

    font-size: 1.04rem;
    font-weight: 500;

    padding: 1.5%;
    padding-bottom: 3%;
    padding-top: 2%;
    margin: 0px;

    border-radius: 0px 0px 15px 15px;
    border: rgb(92, 92, 92) solid medium;
    border-top: none;
}

#sub-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2%;

    background-color: white;
}

#browse-button {
    color: #cbda25;
    background-color: #717a0d;

    font-size: 1.41rem;

    padding: 1%;
    margin-top: 1%;

    border-radius: 15px;

    transition: all 0.5s ease-in-out;
}
#browse-button:hover {
    color: #717a0d;
    background-color: #cbda25;
}
/*#endregion*/

/* --------- Browse stuff --------- */
/*#region*/
main.browse {
    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
}

div.collumn {
    width: 33%;
}

figure.browse {
    position: relative;
    margin: 5%;

    transition: transform 0.2s ease-in-out;
}

figure.browse:hover {
    transform: scale(1.05);
}

figure.browse img:not(:only-child) {
    /* Exludes buttons lol */
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: #4d5b53 solid 3px;
    border-radius: 15px;
}

figure.browse p {
    box-sizing: border-box;
    font-size: 0.77rem;
    font-weight: 300;

    bottom: 0px;
    left: 0px;

    padding: 4% 5% 3%;

    border-radius: 0px 0px 15px 15px;
    border-bottom: #4d5b53 solid 3px;
    border-left: #4d5b53 solid 3px;
    border-right: #4d5b53 solid 3px;
    ;
}

figure.browse figcaption {
    font-size: 0.9rem;
    font-weight: 500;

    top: 0px;
    left: 0px;

    padding: 2% 3% 2.5% 2%;

    border-radius: 15px 0px;
    border-top: #4d5b53 solid 3px;
    border-left: #4d5b53 solid 3px;
}

figure.browse>*:not(img):not(button) {
    color: white;

    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
}

figure.browse>*:not(img) {
    opacity: 0%;
    position: absolute;

    transition: opacity 0.75s ease-in-out;
}

figure.browse:hover>*:not(img) {
    opacity: 100%;
}

figure.browse button {
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0px;
    right: 0px;

    width: 10%;

    margin: 0px;

    background-color: rgb(209, 209, 209);

    border-radius: 0px 15px;
    border: #4d5b53 solid 3px;

    padding: 1%;

    transition: opacity 0.75s ease-in-out, background-color 0.2s, width 0.07s ease-in-out;
}

figure.browse button:hover {
    background-color: whitesmoke;
}

figure.browse button:active {
    width: 11%;
}

figure.browse button[saved] {
    opacity: 100%;
}

figure.browse button img {
    width: 100%;
}

aside.browse {
    border-left: #bababa solid medium;

    overflow-y: scroll;
}

aside.browse #title {
    border-bottom: #bababa dotted medium;

    padding: 2% 0px 2%;
}
aside.browse h2 {
    color: rgb(234, 233, 233);

    font-size: 2rem;
    font-weight: 200;

    height: fit-content;
    width: fit-content;

    margin: 0px auto;
}

.saved-places {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: #bababa dotted thin;
}

.saved-places p {
    color: whitesmoke;

    margin-left: 5%;
}

.saved-places button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 7.5%;
    height: 7.5%;

    padding: 1%;

    margin-right: 10%;

    background-color: rgba(0, 0, 0, 0);

    transition: all 0.2s ease-in-out;
}

.saved-places button:hover {
    width: 8%;
    height: 8%;
}

.saved-places button img {
    width: 100%;
}
/*#endregion*/

/* --------- Leadership stuff --------- */
/*#region*/
#portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portrait h2 {
    margin-bottom: auto;
    margin-top: 2%;

    font-weight: 100;
    font-size: 1.8rem;
    letter-spacing: 0.4vw;
}

#figure-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

figure.leadership {
    width: 15%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.75%;

    border-radius: 15px;

    transition: all 0.3s ease-in-out;
}

figure.leadership:hover {
    width: 17%;
    background-color: rgb(202, 202, 202);
    border: solid black;
}

figure.leadership img {
    width: 100%;

    border: solid #888888;
    border-radius: 15px;
}

figcaption.leadership {
    font-weight: 250;
    font-size: 0.9rem;
    margin-bottom: 0.5vh;
}

figcaption.leadership~* {
    line-height: 0px;
    font-size: 0.77rem;
    margin-top: 0px;
    font-weight: 350;
}
/*#endregion*/