body {
    margin: 0px;
}

#landing-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh 5vh 65vh 15vh;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "sub-main";
}

header {
    background-color: Green;
    grid-area: "header";
}

nav {
    background-color: purple;
    grid-area: "nav";
}

main {
    background-color: orange;
    grid-area: "main";
}

#sub-main {
    background-color: blue;
    grid-area: "sub-main";
}