img {
  display: block;
  max-width: 100%;
}

.carousel {
  overflow: hidden;
  width: 100vw;
  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-gap: 10px;
}

.gallery {
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.gallery-img {
  scroll-snap-align: start;
  margin-left: 10px;
}

.carousel-nav {
  overflow-x: scroll;
  overflow-y: hidden;
}