img {
  display: block;
  max-height: 100%;
}

.carousel {
  overflow: hidden;
  width: 100vw;
  display: grid;
  grid-template-rows: 80vh 1fr;
  grid-gap: 10px;
}

.carousel-gallery {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.gallery-img {
  scroll-snap-align: start;
  margin-left: 13vw;
}

.carousel-nav {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;

  height: fit-content;
}